  .time-selector-wrapper {
    margin-left: 12px;
    margin-bottom: 10px;
    position: relative;
  }

  .time-chunk {
    display: inline-block;
  }

  .time-label {
    font-size: 10px;
    margin-left: -12px;
  }

  .time-half-hour {
    height: 28px;
    width: 11px;
    background: gray;
    display: inline-block;
    border-style: solid;
    border-color: black;
    margin: -0.5px;
  }

  .highlighted {
    background: green !important;
  }

  .day-time-display {
    float: right;
  }