  .time-half-hour {
    height: 30px;
    width: 11px;
    background: gray;
    display: inline-block;
    border-style: solid;
    border-color: black;
    margin: -0.5px;
  }

  .highlighted {
    background: green !important;
  }

  .day-time-display {
    float: right;
  }