
<div class="widgets"> 

  <div class="row">
    <ba-card title="My Assets" class="col-md-6" baCardClass="with-scroll" (click)="deselectAsset()">
     <div class="row clearfix">
       <div class="kameleon-row" *ngFor="let asset of myAssets">
        <div class="kameleon-icon with-round-bg {{ green }}" (click)="assetClicked(asset, $event)">
          <img [src]="_sanitizer.bypassSecurityTrustUrl(asset.dataurl)" [class.selected]="selectedAsset === asset">
          <span>{{ asset.name }}</span></div>
        </div>
      </div>
    </ba-card>
  </div> 

  <div class="row">
   <ba-card title="Potential Assets" class="col-md-6" baCardClass="with-scroll" (click)="deselectAsset()">
    <div class="row clearfix">
     <div class="kameleon-row" *ngFor="let asset of potentialAssets">
      <div class="kameleon-icon with-round-bg {{ green }}" (click)="assetClicked(asset, $event)">
        <img [src]="_sanitizer.bypassSecurityTrustUrl(asset.dataurl)" [class.selected]="selectedAsset === asset">
        <span>{{ asset.name }}</span></div>
      </div>
    </div> 
  </ba-card>
</div>
</div>


<div class="floating-asset-editor col-md-5">
  <ba-card id="floating-asset-display" baCardClass="with-scroll">
    <i *ngIf="selectedAsset && isMyAsset()" id="trash-icon" class="ion-trash-a" (click)="removeAsset()"> </i>
    <i *ngIf="selectedAsset && !isMyAsset()" id="add-icon" class="ion-checkmark-round" (click)="addAsset()"> </i>

    <!-- Top of the floating menu -->
    <strong *ngIf="!selectedAsset"> No Asset Selected </strong>

    <div *ngIf="selectedAsset" class="display-asset-section">
      <div class="row">
        <div class="col-md-6">
          <img [src]="_sanitizer.bypassSecurityTrustUrl(selectedAsset.dataurl)"> 
        </div>

        <div class="col-md-6">
          <strong> {{ selectedAsset.name }}</strong>
          <p>&nbsp;</p>
          <p> {{ selectedAsset.description }} </p>
        </div> 
      </div>
    </div>

    <!-- Time selector in the floating menu -->
    <div *ngIf="selectedAsset">
      <button type="button" class="btn btn-info btn-mm" (click)="saveAvailability()">Save Availability</button>
      <h4> Availability </h4>

      <edit-hours *ngFor="let dayData of dataOfWeek" 
        [dayOfWeek]="dayData['Day']" [timeRanges]="dayData['TimeRanges']"></edit-hours>
    </div>

  </ba-card>
</div>








<!-- 
<div *ngIf="show" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeModule();" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Edit Assets </h4>
    </div>
    <div class="modal-body">

    <ba-card title="Locations" class="col-md-6" baCardClass="with-scroll">
      <strong> LOLocation </strong>
    </ba-card>

  </div>
</div>
</div> -->