
<div class="widgets"> 

  <div class="row">
    <ba-card title="My Assets" class="col-md-6" baCardClass="with-scroll" (click)="deselectIcon()">
     <div class="row clearfix">
       <div class="kameleon-row" *ngFor="let icon of myAssetIcons">
        <div class="kameleon-icon with-round-bg {{ icon.color }}" (click)="assetIconClicked(icon, $event)">
        <img src="{{ ( icon.img | baKameleonPicture ) }}" [class.selected]="selectedAssetIcon === icon">
        <span>{{ icon.name }}</span></div>
      </div>
    </div>
  </ba-card>
</div> 


<div class="row">
 <ba-card title="Potential Assets" class="col-md-6" baCardClass="with-scroll" (click)="deselectIcon()">
  <div class="row clearfix">
   <div class="kameleon-row" *ngFor="let icon of potentialAssetIcons">
    <div class="kameleon-icon with-round-bg {{ icon.color }}" (click)="assetIconClicked(icon, $event)">
    <img src="{{ ( icon.img | baKameleonPicture ) }}" [class.selected]="selectedAssetIcon === icon">
    <span>{{ icon.name }}</span></div>
  </div>
</div> 
</ba-card>
</div>
</div>


<div class="floating-asset-editor col-md-5">
<ba-card id="floating-asset-display" baCardClass="with-scroll">
<i *ngIf="selectedAssetIcon && isMyIcon()" id="trash-icon" class="ion-trash-a" (click)="removeIcon()"> </i>
<i *ngIf="selectedAssetIcon && !isMyIcon()" id="add-icon" class="ion-checkmark-round" (click)="addIcon()"> </i>


<display-asset [assetIcon]="selectedAssetIcon"> </display-asset>

<div *ngIf="selectedAssetIcon">
<h4> Availability </h4>
<edit-hours *ngFor="let dayOfWeek of daysOfWeek" [dayOfWeek]="dayOfWeek"></edit-hours>
</div>

</ba-card>
</div>








<!-- 
<div *ngIf="show" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeModule();" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Edit Assets </h4>
    </div>
    <div class="modal-body">

    <ba-card title="Locations" class="col-md-6" baCardClass="with-scroll">
      <strong> LOLocation </strong>
    </ba-card>

  </div>
</div>
</div> -->